.main-button {
  border: none;
  background-color: $mainColor;
  color: #fff;
  text-align: center;
  min-width: 120px;
  padding: 10px 15px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
