.head-with-border {
  background-color: $mainColor;
  color: #fff;
  text-align: center;
  margin: 40px auto;
  border-radius: 15px;
  max-width: 300px;
  padding: 5px 10px;
  text-transform: uppercase;
  
}
