header {
  padding: 20px 0;
  border-bottom: 1px solid $grayColor;
  .container {
    @include space-between;
    @media (max-width: 991px) {
      flex-wrap: wrap;
      text-align: center;
      max-width: 100%;
    }
    .logo {
      position: relative;
      @media (max-width: 991px) {
        margin: 0 auto;
      }
      @media (max-width: 767px) {
        @include space-between;
        margin: 0;
        width: 100%;
      }
      h1 {
        margin-bottom: 10px;
        margin-top: 10px;
        text-transform: uppercase;
      }
      p {
        margin: 0;
        color: $grayColor;
      }
      i {
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        right: 0;
        cursor: pointer;
        @media (min-width: 768px) {
          display: none;
        }
      }
    }
    .navbar {
      @include list-reset;
      display: flex;
      background-color: $mainColor;
      border-radius: 15px;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.3s;
      @media (max-width: 991px) {
        margin: 20px auto 0;
        width: 100%;
      }
      @media (max-width: 767px) {
        display: none;
        flex-direction: column;
      }
      li {
        padding: 20px 10px;
        a {
          color: #fff;
          &:hover {
            color: #ddd;
          }
        }
      }
      &.active {
        display: block;
      }
    }
  }
}
